<%= form_for @car, url: car_path(@car), html: { method: :put }  do |f|%>
    <div class="column">
        <%= f.label :name, 'Car model name' %> <br/>
        <%= f.text_field :name %>
    </div>
    <div class="column">
        <%= f.label :price, 'Car price' %> <br/>
        <%= f.number_field :price %>
    </div>
    <div class="column">
        <%= f.label :status, 'Car status' %> <br/>
        <%= f.select :status, ['new', 'used'], include_blank: true %>
    </div>
    <div class="column">
        <%= f.label :dealer_ship_id, 'Car status' %> <br/>
        <%= f.select :dealer_ship_id, DealerShip.all.collect {|s| [s.name, s.id]}, include_blank: true %>
    </div>
    <%= f.submit 'Edit car', class: 'button is-primary is-rounded', style: 'padding: 0 3rem;' %>
<% end %>
